/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 6, 0.0, 0, 2);
   -fx-fill-width: true;
}

.grid-internals {
    -fx-padding: 10px;
}

.value-internals {
    -fx-border-insets: 5px;
}
